<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <h1 class="mb-1">Los Rosales</h1>
            <h3 class="mb-5">
                <em>Sistema de Ventas</em>
            </h3>
            <!-- <a class="btn btn-primary btn-lg" href="/signin">
                Ingesar
            </a>
            -->
        </div>
        <div class="overlay"></div>
    </header>
</main>