<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <!--
                    <table border="0" align="center" style="width:400px; height: 100px;font-size: 2rem;">
                        <tr>
                            <td>
                                <label type="text">Ayer Entraste :</label>
                                <input type="time" name="entro" id="fechad" required>

                                <label type="text">&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp Saliste&nbsp &nbsp:</label>
                                <input type="time" name="fechah" id="fechah" required>
                                <input type="text" name="fechahasta" id="fechahasta" hidden>
                                <label type="text">&nbsp  </label>
                                <label type="text"> &nbsp </label>
                                <label type="text">Hoy Entraste :</label>
                                <input type="time" name="entro" id="fechad" required>

                            </td>
                        </tr>
                    </table>
                    -->
                    <h4>Elegi una opcion del Menu</h4>
                    <!-- <a href="/links" class="btn btn-primary m-4">
                        Save your Links    
                    </a>
                    -->
                </div>
            </div>
        </div>

    </div>
</div>